.home-container {
    /* background: linear-gradient(#f1b309, #e0d3b0, #f1b309); */
    background-image: url('../assets/img/home.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;  
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}